Source: roboparty-motors
Section: libs
Priority: optional
Maintainer: RoboParty <2321901849@qq.com>
Build-Depends: debhelper-compat (= 12), cmake, pkg-config,
               libspdlog-dev, libfmt-dev, libboost-system-dev,
               libeigen3-dev, pybind11-dev, python3-dev

Package: roboparty-motors
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, roboparty-base (>= 1.0.0)
Description: RoboParty motor driver
 Motor driver with DM, EVO, Xynova and LeadRobot motor support (CAN protocol).
 Provides static libraries, headers and Python bindings.
