#!/usr/bin/make -f

# export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_INSTALL_PREFIX="/opt/roboparty" \
		-DCMAKE_PREFIX_PATH="/opt/roboparty" \
		-DCMAKE_BUILD_TYPE=Release
