#environment
.vscode/
.idea/

# ros2
build/
install/
log/

# debhelper build outputs
obj-*/
debian/files
debian/debhelper-build-stamp
debian/*.debhelper.log
debian/*.substvars
debian/roboparty-*/
debian/.debhelper/

# source ignore
test/
src/protocol/ethercanfd
src/protocol/ethercat
