<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>RP1 Factory Engineering</vendor>
  <vendor_url>https://example.invalid/rp1</vendor_url>

  <action id="com.rp1.test-hmi.configure-can">
    <description>Configure an RP1 test HMI CAN interface</description>
    <message>Authentication is required to configure the test HMI CAN interface</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/rp1-test-hmi/factory-hmi-can-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>
</policyconfig>
